.footer {
  color: rgb(212, 212, 212);
  background-color: grey;
}

.footer p {
  text-align: right;
}

.unsplash-link {
  text-decoration: none;
  color: rgb(212, 212, 212);
}

.unsplash-link:hover {
  text-decoration: underline;
  color: rgb(87, 87, 87);
}
