.footer {
  color: rgb(212, 212, 212);
  background-color: grey;
}

.footer p {
  font-size: smaller;
  text-align: right;
  margin-right: 20px;
}

.footer-link {
  text-decoration: none;
  color: rgb(212, 212, 212);
}

.footer-link:hover {
  text-decoration: underline;
  color: rgb(255, 171, 16);
}
