.Logo {
  padding-top: auto;
  padding-bottom: auto;
  display: grid;
  grid-template-columns: 3fr 3fr;
  background-color: #e0e0e0;
}

h1 {
  margin: 0 0 0 0;
}

#logoText {
  text-decoration: none;
  color: rgb(255, 171, 16);
  margin-top: auto;
  margin-bottom: auto;
  font-size: xx-large;
}
