.home-page {
  display: grid;
  grid-template-areas: '1 2';
  grid-template-columns: 2fr 1fr;
}

.home-body {
  text-align: justify;
  grid-area: '1';
}

.home-photo {
  grid-area: '2';
  max-width: 90%;
  margin: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 171, 16);
}
