.nav {
  text-decoration: none;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: auto;
  margin-bottom: auto;
}

.home {
  text-decoration: none;
  color: black;
}

.succ-plan {
  text-decoration: none;
  color: black;
}

.speaking {
  text-decoration: none;
  color: black;
}

.contact {
  text-decoration: none;
  color: black;
}

.nav h3 {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(255, 171, 16);
}
