.speakingPage {
  display: grid;
  grid-template-areas: '1 2';
  grid-template-columns: 2fr 1fr;
}

.speakingSection1 {
  grid-area: '1';
}

.sPhoto1 {
  grid-area: '2';
  max-width: 90%;
  margin: 5%;
}
