.succPlanningPage {
  display: grid;
  grid-template-areas: 'section1' 'section2';
}

.spSection1 {
  display: grid;
  grid-template-areas: 'body1 photo1';
  grid-template-columns: 2fr 1fr;
  grid-area: section1;
}

.spBody1 {
  grid-area: body1;
}

.spPhoto1 {
  grid-area: photo1;
  max-width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.spSection2 {
  display: grid;
  grid-template-areas: 'photo2 body2';
  grid-template-columns: 1fr 2fr;
  grid-area: section2;
}

.spBody2 {
  grid-area: body2;
}

.spPhoto2 {
  grid-area: photo2;
  max-width: 90%;
  margin-right: 5%;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
}

ul li::before {
  content: '\2022';
  color: rgb(255, 171, 16);
  display: inline-block;
}
