.App {
  text-align: center;
  display: grid;
  grid-template-areas: 'home' 'nav' 'body';
}

.HomeIcon {
  grid-area: home;
}

.Nav {
  grid-area: nav;
}

.Body {
  text-align: justify;
  grid-area: body;
  margin-left: 10%;
  margin-right: 10%;
}

body {
  background-color: #f1d9a7;
}
