.app {
  position: relative;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: grid;
  grid-template-areas: 'header' 'body' 'footer';
  grid-template-rows: 120px auto;
  color: rgb(87, 87, 87);
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.body {
  text-align: justify;
  grid-area: body;
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.footer {
  position: absolute;
  grid-area: footer;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
}

.orange-text {
  color: rgb(255, 171, 16);
}

.title {
  text-align: center;
}
