.App {
  text-align: center;
  display: grid;
  grid-template-areas: 'home nav' 'body body';
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 150px auto;
}

.HomeIcon {
  grid-area: home;
}

.Nav {
  grid-area: nav;
}

.Body {
  text-align: justify;
  grid-area: body;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

body {
  /* background-color: #f1d9a7; */
  font-family: 'Roboto', sans-serif;
}
